* {
  border: 1px solid red;
}
body {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.weatherCard > h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.weatherCard > h1,
h2,
h3,
img {
  padding: 5vh;
}
.weatherCard {
  display: flex;
  flex-direction: column;
}

.weatherCardImage {
  width: 33%;
  padding: 0px;
  border: 0px;
}

.weatherCardInFiveDays {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -19px;
}

div.weatherCardInFiveDays > h1,
h2,
h3,
img {
  padding: 1.75vh;
}

div.weatherCardInFiveDays > h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weatherCardInFiveDaysImage {
  width: 33%;
  padding: 0px;
  border: 0px;
}

.weatherCardInFiveDaysContainer {
  top: 4vh;
  position: relative;
  margin-bottom: 3vh;
}

.menuButtonContainer {
  position: absolute;
  top: 0px;
  right: 0vh;
}

.menuButton {
  position: absolute;
  top: 5px;
  right: 16vh;
  padding: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

#buttonToSwitch {
  position: fixed;
  top: 18px;
  right: 18px;
}

#buttonToSwitch > button {
  padding: 3px 7px;
  font-size: 15px;
  background-color: #000000;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

#buttonToSwitchInCity {
  position: fixed;
  top: 18px;
  right: 18px;
}

#buttonToSwitchInCity > button {
  padding: 3px 7px;
  font-size: 15px;
  background-color: #000000;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
